<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Canadian Yugioh Price Checker</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        {% load static %}
        <link rel="stylesheet" href="{% static 'index.css' %}">
    </head>
    <body>
        <header class="page_header">
            <span class="page_title">Canadian Yugioh Price Checker</span>
        </header>
        <div>
            <form action="/result/" method="get">
                <label for="search">Search: </label>
                <input id="search" type="text" name="search" value="">
                <input type="submit" value="Search!">
            </form>
        </div>
        {% for listing in card_listings %}
            <section class="listing_section">
                Name: {{ listing.name }}
                <br />
                Vendor: {{ listing.vendor }}
                <br />
                Price: {{ listing.price }}
                <br />
                Shipping cost: {{ listing.shipping_cost }}
                <hr />
            </section>
        {% endfor %}
    </body>
</html> 